body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:10px;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Body-Text-Box--1- {
	border-style:solid;
	max-width: 1000px;
}
div.Image--5-column- {
	border-style:solid;
	margin-left:0;
}
div.Image--6-column- {
	border-style:solid;
	margin-left:0;
}
table.Table---1875-before- {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:5px;
	margin-top:40px;
	min-width: 75%;
}
td.Table---1875-before- {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.Table-Body {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	vertical-align:middle;
}
td.Table-Header {
	background-color:#002c36;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#002c36;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#002c36;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#002c36;
	border-top-style:solid;
	border-top-width:1px;
	padding:10px;
	vertical-align:middle;
}

p.Body_Lead---Mid-Paragraph {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:16px;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Body_Lead---Mid-Paragraph--ed {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:9px;
	margin-left:16px;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-16px;
	text-transform:none;
	widows:2;
}
p.Body_Numbered--Level-2----Lead---Mid-Paragraph{
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:9px;
	margin-left:35px;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-16px;
	text-transform:none;
	widows:2;
}
p.Body_Lead---Mid-Paragraph-bulllet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:16px;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-16px;
	text-transform:none;
	widows:2;
}
p.Body_Lead---Mid-Paragraph-indent {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:16px;
	margin-left:25px;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Body_Lead---Mid-Paragraph--ed {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:9px;
	margin-left:16px;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-16px;
	text-transform:none;
	widows:2;
}
p.Body_Lead---Mid-Paragraph-bulllet {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:16px;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-16px;
	text-transform:none;
	widows:2;
}
p.Body_Lead---Mid-Paragraph-bulllet--space-after- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:35px;
	margin-left:16px;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-16px;
	text-transform:none;
	widows:2;
}
p.Citations_Citation-Paragraph {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Crimson Text", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:9px;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Citations_Citation-Title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:86px;
	margin-top:30px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Title-Table--Space-After--NO-colon {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.714;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:16px;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:1.2;
	margin-bottom:40px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Text--5-column- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:1.2;
	margin-bottom:16px;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Table-Caption {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:1.2;
	margin-bottom:40px;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Title-Table--Space-After--no-colon {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:40px;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Title--letter- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Title--Space-After- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:40px;
	margin-left:0;
	margin-right:86px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Title-Table--Space-After- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:40px;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Captions_Caption-Title-Table {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:0;
	margin-right:25%;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Headers_Major-Section-Title {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.2;
	margin-bottom:10px;
	margin-left:0;
	margin-right:25%;
	margin-top:32px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
.Headers_Major-Section-Title--after-Caption-Text- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:900;
	line-height:1.2;
	margin-bottom:10px;
	margin-left:0;
	margin-right:25%;
	margin-top:32px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tables_Table-Body {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:4px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
.Tables_Table-Body-bulleted--5-indent {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:4px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tables_Table-Body--indent- {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:0;
	margin-top:4px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tables_Table-Body-centered {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:4px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tables_Table-Header-1 {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-size-adjust: auto;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Tables_Table-Header-2 {
	-epub-hyphens:none;
	color:white;
	font-family:"Lato", sans-serif;
	font-size:15px;
	font-size-adjust: auto;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
span.Bold {
	font-style:normal;
	font-weight:bold;
}
span.Hyperlink {
	color:#636466;
}
span.Hyperlink-Italic {
	color:#636466;
	font-style:italic;
	font-weight:normal;
}
span.Hyperlink-x {
	color:#0000ff;
	text-decoration:underline;
}
span.Bold-italic {
	font-style:italic;
	font-weight:bold;
}
span.Italic {
	font-style:italic;
	font-weight:normal;
}
span.Special-characters {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.Special-characters-bold {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:bold;
}
span.Special-characters-Caption-table-text {
	font-family:"Arial Narrow", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.Underline {
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.Underline-bold {
	font-style:normal;
	font-weight:bold;
	text-decoration:underline;
}
span.Underline-italic {
	font-style:italic;
	font-weight:normal;
	text-decoration:underline;
}
span.Subscript {
	vertical-align:sub;
}
span.Subscript-Bold {
	font-style:normal;
	font-weight:bold;
	vertical-align:sub;
}
span.Superscript {
	vertical-align:super;
}
span.Superscript-Bold {
	font-style:normal;
	font-weight:bold;
	vertical-align:super;
}
span.Italic-Gotham {
	font-family:"Lato", sans-serif;
	font-style:italic;
	font-weight:400;
}
span.Italic-Caption-text {
	font-family:"Lato", sans-serif;
	font-style:italic;
	font-weight:400;
}
span.Strike-Through {
	text-decoration:line-through;
}

a:link, a:visited, a:hover, a:active {
	color: gray;
	font-style:italic;
	text-decoration: underline;
}

